{% load static %}

<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Food Points</title>
  <link href="{% static 'arabic/css/all.css' %}" rel="stylesheet">
  <link href="{% static 'arabic/css/bootstrap.min.css' %}" rel="stylesheet" />
  <link href="{% static 'arabic/css/food-FAQ.css' %}" rel="stylesheet">

  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link
    href="https://fonts.googleapis.com/css2?family=Aref+Ruqaa&family=Open+Sans:wght@300&family=PT+Sans:ital,wght@0,700;1,700&display=swap"
    rel="stylesheet">

  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ" crossorigin="anonymous">
  <script src="https://kit.fontawesome.com/a7e29101f9.js" crossorigin="anonymous"></script>
</head>

<body>
  <nav class="navbar navbar-expand-lg  fadeIn nav-sec " data-wow-delay="0.1s">
    <div class="container-fluid">
      <div class="logo-div ">
        <a href="{% url 'index-ar' %}">
          <img class="navbar-brand logo " src="{% static 'img/colorful logo.png' %}" href="#"></img>
        </a>
      </div>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
        aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav ms-auto nav-ul  ">
          <li class="nav-item home-word ">
            <a class="nav-link active " aria-current="page" href="{% url 'index-ar' %}">الرئسيه </a>

          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'index-ar' %}#22">خدمات</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'index-ar' %}#33">من نحن</a>
          </li>
          <li class="nav-item">
            <a class="nav-link " href="{% url 'index-ar' %}#44">مقالات</a>
          </li>
          <li class="nav-item">
            <a class="nav-link " href="{% url 'index-ar' %}#55">تواصل معنا</a>
          </li>
        </ul>
        <a href="{% url 'foodpoints' %}" class="arabic-btn">English</a>
        <div class="sign-btn-div">
          {% if request.user.is_authenticated %}
          <a class="sign-btn  btn-sm rounded-pill " href="{% url 'logout-ar' %}">تسجيل الخروج</a>
          {% else %}
          <a class="sign-btn  btn-sm rounded-pill " href="{% url 'signin-ar' %}">تسجيل الدخول</a>
          {% endif %}
        </div>

      </div>
    </div>
  </nav>

  <!-- fe food points -->
  <div class="sec-food-points">


    <div class="container col-xxl-8 px-4 py-5">
      <div class="row flex-lg-row-reverse align-items-center g-5 py-5">
        <div class="col-10 col-sm-8 col-lg-6">
          <img src="{% static 'images/aa.png' %}" class="d-block mx-lg-auto img-fluid" alt="Bootstrap Themes" width="700" height="500"
            loading="lazy">
        </div>
        <div class="col-lg-6">
          <h1 class="display-5 fw-bold lh-1 mb-3 ol-no-wrap">احسب نقاطك</h1>
          <p class="lead">هذا تطبيق صغير يمكنك حساب طعامك المتاح ، يرجى أولاً إدخال وزنك لحساب نقاطك ، ثم يمكنك الاختيار
            من طاولة الطعام ومعرفة مقدار الطعام الذي ستستهلكه.</p>
        </div>
      </div>
    </div>
    <div class="b-example-divider"></div>
    <div class="container col-xxl-8 px-4 py-5 layer">
      <div class="col-lg-6">
        <h1 class="display-5 fw-bold lh-1 mb-3 ">نصائح وإرشادات </h1>
        <ul class="ol-no-wrap">

          <li class="list-group-item">
            <dt><i class="fa-solid fa-seedling"></i> يعتمد نظام النقاط على حساب السعرات الحرارية و كمية الدهون و الالياف
              الموجوده في الاكل</dt>

            <ul>
              <li class="list-group-item"><i class="fa-solid fa-arrow-right"></i> النقاط = (السعرات الحرارية /50)+(الدهون بالجرام /12)-(الالياف بالجرام /5)</li>
              <li class="list-group-item"><i class="fa-solid fa-arrow-right"></i>د اقصى 20 نقطة في اليوم</li>
              <li class="list-group-item"><i class="fa-solid fa-arrow-right"></i> كل ما عليك فعله بعد الحصول على نقاط التهم الخاصة بك هو تقسيمها خلال اليوم إلى وجبات</li>
            </ul>

          </li>

          <li class="list-group-item">
            <dt><i class="fa-solid fa-seedling"></i>اشرب الماء على الأقل 6-8 أكواب يوميًا</dt>
          </li>
          <li class="list-group-item">
            <dt><i class="fa-solid fa-seedling"></i>اجعل المشي والتمارين الرياضية جزءًا أساسيًا من اليوم</dt>
          </li>
          <li class="list-group-item">
            <dt><i class="fa-solid fa-seedling"></i> تناول الخضار والفواكه واجعلها جزءًا أساسيًا من يومك</dt>
          </li>
          <li class="list-group-item">
            <dt><i class="fa-solid fa-seedling"></i> تناول الأطعمة التي تحتوي على الكثير من الألياف</dt>
          </li>
          <li class="list-group-item">
            <dt><i class="fa-solid fa-seedling"></i> التقليل من الدهون بحد أقصى ملعقتين كبيرتين في اليوم وتقليله
              السموم البيضاء (السكر والملح والدقيق الأبيض)</dt>
          </li>
          <li class="list-group-item">
            <dt><i class="fa-solid fa-seedling"></i> يساعد الابتعاد عن السكريات والدهون والمشروبات الغازية والنشويات
              ينظم معدل السكر في الجسم ويفقد الوزنt</dt>
          </li>
          <li class="list-group-item">
            <dt><i class="fa-solid fa-seedling"></i> نبدأ يومنا بشرب كوب من الماء الدافئ في الصباح
              مع ليمون</dt>
          </li>
          <li class="list-group-item">
            <dt><i class="fa-solid fa-seedling"></i> كميات غير محدودة من البروكلي والجزر والخيار والكوسا ،
              يُسمح بالخس والسبانخ وشوربة الخضار.</dt>
          </li>
          <li class="list-group-item">
            <dt><i class="fa-solid fa-seedling"></i> هل تغش يومًا في الأسبوع</dt>
          </li>
        </ul>
        <dl class="list-group-item">
          <dt><i class="fa-solid fa-seedling"></i> فقدان الوزن :</dt>
          <ul>
            <li class="list-group-item"><i class="fa-solid fa-arrow-right"></i> من63 ل69 كيلو في الاسبوع</li>
            <li class="list-group-item"><i class="fa-solid fa-arrow-right"></i> من70 ل83 1.5كيلو في الاسبوع</li>
            <li class="list-group-item"><i class="fa-solid fa-arrow-right"></i> من 84 ل100 2 كيلو في الاسبوع</li>
          </ul>
        </dl>
      </div>
    </div>
    <div class="b-example-divider"></div>
    <div class="container col-xxl-8 px-4 py-5">
      <div class="">
        <h1 class="display-5 fw-bold lh-1 mb-3 h1-edit text-center">ابدأ في الاستمتاع بنمط حياتك الصحي الجديد</h1>
      </div>
    </div>
    <div class="user_info text-center">
      الوزن : 
      <input class="form-control-sm" value="0" type="number" name="age" id="weight" oninput="age()">

      نقاطك المتاحه:
      <input class="form-control-sm" readonly type="number" name="points" id="points"><br><br>
    </div>

    <div class="container">
      <nav>
        <div class="nav nav-tabs nav-justified" id="nav-tab" role="tablist">
          <button class="nav-link active" id="nav-dairy-tab" data-bs-toggle="tab" data-bs-target="#nav-dairy"
            type="button" role="tab" aria-controls="nav-dairy" aria-selected="true">
            <img class="img-1" src="{% static 'images/dairy.svg' %}"> <br>منتجات الالبان:
          </button>

          <button class="nav-link" id="nav-meat-tab" data-bs-toggle="tab" data-bs-target="#nav-meat" type="button"
            role="tab" aria-controls="nav-meat" aria-selected="false">
            <img class="img-1" src="{% static 'images/meat.svg' %}"> <br>اللحوم و الدواجن:
          </button>

          <button class="nav-link" id="nav-vegetables-tab" data-bs-toggle="tab" data-bs-target="#nav-vegetables"
            type="button" role="tab" aria-controls="nav-contact" aria-selected="false">
            <img class="img-1" src="{% static 'images/vegetables.svg' %}"> <br>لفاكهة و الخضروات:
          </button>

          <button class="nav-link" id="nav-starches-tab" data-bs-toggle="tab" data-bs-target="#nav-starches"
            type="button" role="tab" aria-controls="nav-starches" aria-selected="false">
            <img class="img-1" src="{% static 'images/potato-bread.svg' %}"> <br>النشويات:
          </button>

          <button class="nav-link" id="nav-junk-tab" data-bs-toggle="tab" data-bs-target="#nav-junk-food" type="button"
            role="tab" aria-controls="nav-junk" aria-selected="false">
            <img class="img-1" src="{% static 'images/fast-food.svg' %}"> <br>الوجبات السريعة:
          </button>

          <button class="nav-link" id="nav-other-tab" data-bs-toggle="tab" data-bs-target="#nav-other" type="button"
            role="tab" aria-controls="nav-other" aria-selected="false">
            <img class="img-1" src="{% static 'images/cookie.svg' %}"> <br>منوعات:
          </button>

        </div>
      </nav>
      <div class="tab-content" id="nav-tabContent">
        <div class="tab-pane fade show active" id="nav-dairy" role="tabpanel" aria-labelledby="nav-dairy-tab">
          <ul>

            <li class="list-group-item"> <i class="fa-solid fa-cheese"></i> حليب 200 مل: <input type="number" id="milk"
                name="milk" oninput="calc();" value="0" min="0" max="10"></li>
            <li class="list-group-item"> <i class="fa-solid fa-cheese"></i> حليب 50٪ دسم 200 مل: <input type="number"
                id="milk50" name="milk50" oninput="calc();" value="0" min="0" max="10"></li>
            <li class="list-group-item"> <i class="fa-solid fa-cheese"></i> حليب 0٪ دسم (منزوع الدسم) 200 مل: <input
                type="number" id="skimmed" name="skimmed" oninput="calc();" value="0" min="0" max="10"></li>
            <li class="list-group-item"> <i class="fa-solid fa-cheese"></i> حليب بودرة 5 جم: <input type="number"
                id="powder" name="powder" oninput="calc();" value="0" min="0" max="10"></li>
            <li class="list-group-item"> <i class="fa-solid fa-cheese"></i> جبنة فيتا 30 جم: <input type="number"
                id="feta" name="feta" oninput="calc();" value="0" min="0" max="10"></li>
            <li class="list-group-item"> <i class="fa-solid fa-cheese"></i> شريحة جبن شيدر: <input
                type="number" id="cheddar" name="cheddar" oninput="calc();" value="0" min="0" max="10"></li>
            <li class="list-group-item"> <i class="fa-solid fa-cheese"></i> شريحة جبنة رومي: <input
                type="number" id="turkey" name="turkey" oninput="calc();" value="0" min="0" max="10"></li>
            <li class="list-group-item"> <i class="fa-solid fa-cheese"></i>زبادي 125 جم: <input type="number"
                id="yogurt" name="yogurt" oninput="calc();" value="0" min="0" max="10"></li>
            <li class="list-group-item"> <i class="fa-solid fa-cheese"></i> زبادي قليل الدسم 125 جم: <input type="number"
                id="lightYogurt" name="lightYogurt" oninput="calc();" value="0" min="0" max="10"></li>
            <li class="list-group-item"> <i class="fa-solid fa-cheese"></i> بيض مسلوق: <input type="number"
                id="boiledEgg" name="boiledEgg" oninput="calc();" value="0" min="0" max="10"></li>
          </ul>

        </div>
        <div class="tab-pane fade" id="nav-meat" role="tabpanel" aria-labelledby="nav-meat-tab">

          <ul>
            <li class="list-group-item"> <i class="fa-solid fa-drumstick-bite"></i>100 جم صدر دجاج مشوي أو مسلوق: <input type="number" id="chickenBreast" name="chickenBreast" oninput="calc();" value="0" min="0"
                max="10"></li>
            <li class="list-group-item"> <i class="fa-solid fa-drumstick-bite"></i> 1/4 دجاجة: <input type="number"
                id="quarterChicken" name="quarterChicken" oninput="calc();" value="0" min="0" max="10"></li>
            <li class="list-group-item"> <i class="fa-solid fa-drumstick-bite"></i> ربع دجاج مقلي (بالدهن): <input
                type="number" id="friedChicken" name="friedChicken" oninput="calc();" value="0" min="0" max="10"></li>
            <li class="list-group-item"> <i class="fa-solid fa-drumstick-bite"></i>شريحة ديك رومي 100 جرام: <input
                type="number" id="turkeySlice" name="turkeySlice" oninput="calc();" value="0" min="0" max="10"></li>
            <li class="list-group-item"> <i class="fa-solid fa-drumstick-bite"></i> الكبدة بأنواعها 100 جم: <input
                type="number" id="liver" name="liver" oninput="calc();" value="0" min="0" max="10"></li>
            <li class="list-group-item"> <i class="fa-solid fa-drumstick-bite"></i>شريحة لحم بقري 100 جم: <input
                type="number" id="beefSteak" name="beefSteak" oninput="calc();" value="0" min="0" max="10"></li>
            <li class="list-group-item"> <i class="fa-solid fa-drumstick-bite"></i>برجر لحم: <input type="number"
                id="beefBurger" name="beefBurger" oninput="calc();" value="0" min="0" max="10"></li>
            <li class="list-group-item"> <i class="fa-solid fa-drumstick-bite"></i>برجر الدجاج: <input type="number"
                id="chickenBurger" name="chickenBurger" oninput="calc();" value="0" min="0" max="10"></li>
            <li class="list-group-item"> <i class="fa-solid fa-drumstick-bite"></i> هوت دوج 70 جم: <input type="number"
                id="hotdog" name="hotdog" oninput="calc();" value="0" min="0" max="10"></li>
            <li class="list-group-item"> <i class="fa-solid fa-drumstick-bite"></i> سلمون 50 جم: <input type="number"
                id="salmon" name="salmon" oninput="calc();" value="0" min="0" max="10"></li>
            <li class="list-group-item"> <i class="fa-solid fa-drumstick-bite"></i> جمبري مشوي 120 جم: <input
                type="number" id="grilledShrimp" name="grilledShrimp" oninput="calc();" value="0" min="0" max="10"></li>
            <li class="list-group-item"> <i class="fa-solid fa-drumstick-bite"></i>تونة 100 جم: <input type="number"
                id="tuna" name="tuna" oninput="calc();" value="0" min="0" max="10"></li>
          </ul>

        </div>
        <div class="tab-pane fade" id="nav-vegetables" role="tabpanel" aria-labelledby="nav-vegetables-tab">

          <ul>

            <li class="list-group-item"> <i class="fa-solid fa-carrot"></i> ثلاث حبات تمر ، كرز , توت ، تفاح:
              <input type="number" id="fruits1" name="fruits1" oninput="calc();" value="0" min="0" max="10">
            </li>
            <li class="list-group-item"> <i class="fa-solid fa-carrot"></i> سلطة فواكه ، يوسفي ، جوافة ، خوخ ، 1/2 مانجو ، كيوي: <input type="number" id="fruits2" name="fruits2" oninput="calc();" value="0" min="0"
                max="10"></li>
            <li class="list-group-item"> <i class="fa-solid fa-carrot"></i>موز ، بطيخ ، فراولة ، 15 حبة عنب:
              <input type="number" id="fruits3" name="fruits3" oninput="calc();" value="0" min="0" max="10">
            </li>
            <li class="list-group-item"> <i class="fa-solid fa-carrot"></i> برتقال ، أناناس ، مشمش ، جريب فروت:
              <input type="number" id="fruits4" name="fruits4" oninput="calc();" value="0" min="0" max="10">
            </li>
            <li class="list-group-item"> <i class="fa-solid fa-carrot"></i> كوسا ، خس ، جزر ، خيار (خضروات بأنواعها): <input type="number" id="vegetables" name="vegetables" oninput="calc();" value="0" min="0"
                max="10"></li>
            <li class="list-group-item"> <i class="fa-solid fa-carrot"></i> البازلاء المطبوخة: <input type="number" id="peas"
                name="peas" oninput="calc();" value="0" min="0" max="10"></li>
          </ul>

        </div>
        <div class="tab-pane fade" id="nav-starches" role="tabpanel" aria-labelledby="nav-starches-tab">
          <ul>
            <li class="list-group-item"> <i class="fa-solid fa-bread-slice"></i>كورن فليكس (2-4 نقاط): <input
                type="number" id="cornflakes" name="cornflakes" oninput="calc();" value="0" min="0" max="10"></li>
            <li class="list-group-item"> <i class="fa-solid fa-bread-slice"></i> البطاطس المسلوقة / المشوية: <input
                type="number" id="potatoes" name="potatoes" oninput="calc();" value="0" min="0" max="10"></li>
            <li class="list-group-item"> <i class="fa-solid fa-bread-slice"></i> كوب بطاطس مقلية : <input type="number"
                id="fries1" name="fries1" oninput="calc();" value="0" min="0" max="10"></li>
            <li class="list-group-item"> <i class="fa-solid fa-bread-slice"></i> 5 ملاعق أرز / مكرونة / فتة : <input
                type="number" id="ricePastaFata" name="ricePastaFata" oninput="calc();" value="0" min="0" max="10"></li>
            <li class="list-group-item"> <i class="fa-solid fa-bread-slice"></i> خبز 100 جرام: <input type="number"
                id="bread" name="bread" oninput="calc();" value="0" min="0" max="10"></li>
            <li class="list-group-item"> <i class="fa-solid fa-bread-slice"></i> توست بني / أبيض: <input type="number"
                id="toast" name="toast" oninput="calc();" value="0" min="0" max="10"></li>
          </ul>

        </div>
        <div class="tab-pane fade" id="nav-junk-food" role="tabpanel" aria-labelledby="nav-junk-tab">

          <ul>
            <li class="list-group-item"> <i class="fa-solid fa-pizza-slice"></i> شريحة بيتزا: <input type="number"
                id="pizza" name="pizza" oninput="calc();" value="0" min="0" max="10"></li>
            <li class="list-group-item"> <i class="fa-solid fa-burger"></i> شاورما: <input type="number" id="shawarma"
                name="shawarma" oninput="calc();" value="0" min="0" max="10"></li>
            <li class="list-group-item"> <i class="fa-solid fa-pizza-slice"></i> سندوتش كنتاكي (زينجر): <input
                type="number" id="kfcSandwich" name="kfcSandwich" oninput="calc();" value="0" min="0" max="10"></li>
            <li class="list-group-item"> <i class="fa-solid fa-burger"></i> 4 حبات ورق عنب: <input type="number"
                id="grapeLeaves" name="grapeLeaves" oninput="calc();" value="0" min="0" max="10"></li>
            <li class="list-group-item"> <i class="fa-solid fa-pizza-slice"></i> البطاطس المقلية بالكاتشب والمايونيز:
              <input type="number" id="fries2" name="fries2" oninput="calc();" value="0" min="0" max="10">
            </li>
            <li class="list-group-item"> <i class="fa-solid fa-burger"></i> شوربة: <input type="number" id="soup"
                name="soup" oninput="calc();" value="0" min="0" max="10"></li>
          </ul>

        </div>
        <div class="tab-pane fade" id="nav-other" role="tabpanel" aria-labelledby="nav-other-tab">

          <ul>
            <li class="list-group-item"> <i class="fa-solid fa-cookie"></i>فشار 20 جم: <input type="number"
                id="popcorn" name="popcorn" oninput="calc();" value="0" min="0" max="10"></li>
            <li class="list-group-item"> <i class="fa-solid fa-cookie"></i> شوفان 25 جم: <input type="number" id="oats"
                name="oats" oninput="calc();" value="0" min="0" max="10"></li>
            <li class="list-group-item"> <i class="fa-solid fa-cookie"></i> حمص 100 جم: <input type="number"
                id="hummus" name="hummus" oninput="calc();" value="0" min="0" max="10"></li>
            <li class="list-group-item"> <i class="fa-solid fa-cookie"></i> 3 ملاعق فول: <input type="number"
                id="beans" name="beans" oninput="calc();" value="0" min="0" max="10"></li>
            <li class="list-group-item"> <i class="fa-solid fa-cookie"></i> مشروب الشكولاته الساخنة: <input type="number"
                id="hotChocolate" name="hotChocolate" oninput="calc();" value="0" min="0" max="10"></li>
            <li class="list-group-item"> <i class="fa-solid fa-cookie"></i> الشاي بجميع أنواعه وبأي كمية: <input type="number"
                id="tea" name="tea" oninput="calc();" value="0" min="0" max="10"></li>
            <li class="list-group-item"> <i class="fa-solid fa-cookie"></i> عصائر 200 مل: <input type="number"
                id="juice" name="juice" oninput="calc();" value="0" min="0" max="10"></li>
            <li class="list-group-item"> <i class="fa-solid fa-cookie"></i>لاتيه ، كابتشينو: <input type="number"
                id="latteCappuccino" name="latteCappuccino" oninput="calc();" value="0" min="0" max="10"></li>
            <li class="list-group-item"> <i class="fa-solid fa-cookie"></i>ايس كريم: <input type="number" id="iceCream"
                name="iceCream" oninput="calc();" value="0" min="0" max="10"></li>
            <li class="list-group-item"> <i class="fa-solid fa-cookie"></i> 15-20 مكسرات: <input type="number" id="nuts"
                name="nuts" oninput="calc();" value="0" min="0" max="10"></li>
            <li class="list-group-item"> <i class="fa-solid fa-cookie"></i> بسكويت دايجستيف / توك بوكيت: <input type="number"
                id="biscuit" name="biscuit" oninput="calc();" value="0" min="0" max="10"></li>
          </ul>

        </div>

      </div>
      <br>
      <div class="fixed-bottom text-center fixed-nav-bottom">
        مجموع النقاط: <input type="text" id="total" name="total" readonly value="0">
      </div>
    </div>
    <br>
    <br>
  </div>


  <script src="{% static 'arabic/js/app.js' %}"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-ENjdO4Dr2bkBIFxQpeoTz1HIcje39Wm4jDKdf19U8gI4ddQ3GYNS7NTKfAdVQSZe"
    crossorigin="anonymous"></script>
</body>