*{
    font-family: 'Nunito', sans-serif ;
    direction: rtl;

}
a{
    text-decoration: none;
}

.nav-sec{
    background-color: #178066;
}


.logo {
    width: 100px;
    float: left;
    }
.logo-div {
    padding-right: 90;
}
    .nav-ul{
        padding-right: 450px;

        
    }
    .nav-item{
        padding-left: 20px;
    }
    .nav-item a{
        font-size: 23px;
    }
    .nav-link{
        color: white !important;
    }
    
    .nav-item:hover a{
        color: #fff600 !important;
        
    
    }
    
    .sign-btn{
        outline-style: solid;
        color: #fff600;
        padding-left: 25;
        padding-right: 25;
        padding-top: 10;
        padding-bottom: 10;
        font-weight: bold;
        font-size: 15;
        text-decoration: none;
    }
    .sign-btn:hover{
        /* background-color: #faf55d;
        outline-color: #fff600;
        color: rgb(255, 255, 255); */
        color: rgb(255, 255, 255);
        outline-color: #fff600;
    }

    .sign-btn-div{
        padding-left: 90px;
    }
    .arabic-btn{
        border-style: solid;
        border: none;
        border-radius: 50px;
        padding: 10px;
        font-size: 21;
        text-decoration: none;
        margin-right: 6;
        color: rgb(255, 255, 255);
        font-family: 'Noto Naskh Arabic', serif;
        font-family: 'Nunito', sans-serif;
        cursor: pointer;
    }
    .arabic-btn:hover {
        color: #f9f348;
    
    }

.cont-words{
    padding: 70;
    background-image: url(../img/colin-lloyd-suj3od1uMv8-unsplash.jpg);

}

/* fe style */


.sec1{
    background-position: center center;
    background-size: cover;
    background-blend-mode: overlay;
    background-color: rgb(245 245 245);
    /* rgb(239 240 210)   rgb(123 146 182)*/
    /* background-color: rgb(192, 190, 255); */

}
.title-1{    
    font-weight: bold;
    font-size: 35px;

}
.main-p{
    padding: 25px;
    padding-top: 5px;
}

.cont-words{

    background-image: url(../img/colin-lloyd-suj3od1uMv8-unsplash.jpg);
    background-position: center center;
    color: white;
    padding: 90;
    background-blend-mode: overlay;

}

.age-input{
    width: 10% !important;
}

.main-q {
    font-weight: bold;
    font-size: 22px;
}

.box-cont{
    padding: 50px;

}
.qs{
    box-shadow:-1px 5px 11px 0px rgb(42 42 42 / 35%);
}
.qs div{
    
    display: inline-block;
    padding-left: 10px;
    padding-right: 20px;
}

.qs{
    /* background-image: -webkit-linear-gradient(0deg, #c3fcb5 0%, #178066f0 100%); */
    background-image: -webkit-linear-gradient(0deg, #178066f0 0% ,  #c3fcb5 100%);
    margin: 30px;
    padding: 10px;
    border-radius: 4px;
}
.sub-button {
    border-radius: 3px !important;
    width: 170px;
    height: 65px;
    font-size: 22px;
}


.footer_section {
    background: #178066;
    color: #ffffff;
    padding: 60px 0 15px 0;
    position: relative;
}

.footer_section h4 {
    font-weight: 600;
    margin-bottom: 20px;
}

.footer_section .footer_col {
    margin-bottom: 30px;
}

.footer_section .footer_contact .contact_link_box {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
}

.footer_section .footer_contact .contact_link_box a {
    margin: 5px 0;
    color: #ffffff;
}

.footer_section .footer_contact .contact_link_box a i {
    margin-right: 5px;
}

.footer_section .footer_contact .contact_link_box a:hover {
    color: #62d2a2;
}

.footer_section .footer_social {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-top: 20px;
    margin-bottom: 10px;
}

.footer_section .footer_social a {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    color: #ffffff;
    border-radius: 100%;
    margin-right: 10px;
    font-size: 24px;
}

.footer_section .footer_social a:hover {
    color: #62d2a2;
}

.footer_section .footer_links {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
}

.footer_section .footer_links a {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-right: 15px;
    margin-bottom: 15px;
    color: #ffffff;
}

.footer_section .footer_links a:hover {
    color: #62d2a2;
}

.footer_section form input {
    border: none;
    background-color: #fefefe;
    width: 100%;
    height: 45px;
    color: #000000;
    outline: none;
    border-radius: 5px;
    padding: 0 15px;
}

.footer_section form input::-webkit-input-placeholder {
    color: #777;
}

.footer_section form input:-ms-input-placeholder {
    color: #777;
}

.footer_section form input::-ms-input-placeholder {
    color: #777;
}

.footer_section form input::placeholder {
    color: #777;
}

.footer_section form button {
    width: 100%;
    text-align: center;
    display: inline-block;
    padding: 10px 55px;
    background-color: #62d2a2;
    color: #ffffff;
    border-radius: 5px;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
    border: 1px solid #62d2a2;
    margin-top: 15px;
}

.footer_section form button:hover {
    background-color: transparent;
    color: #62d2a2;
}

.footer_section .footer-info {
    text-align: center;
}

.footer_section .footer-info p {
    color: #ffffff;
    padding: 25px 0;
    margin: 0;
}

.footer_section .footer-info p a {
    color: inherit;
}

/* for fe YOUR STEPS */

.steps-words .title-1{
    padding-top: 40px;
}
.step-line{
    font-size:17 ;
    font-weight:600 ;
    padding: 4px;
}
.sec-steps{
    background-image: url(../img/mint-blue-watercolor-texture-background-wallpaper.jpg);
}

.sec-steps{
    font-family: 'Nunito', sans-serif ;
}