.body{
    font-family: var(--bs-body-font-family);
}
.sec1{
    background-image: url(../img/vecteezy_abstract-defocused-hospital-and-clinic-interior_2106654.jpg);
    background-position: center center;
    height: 100vh;
    background-size: cover;
    background-color: rgb(0 0 0 / 21%);
    background-blend-mode: overlay;
    padding-top: 80px;
    
}
.bold-part{
    padding-top: 100px;
    padding-bottom:100px ;
    margin-left: 100px;
    margin-right: 100px;
    background-color: white;
    box-shadow: 5px 15px 25px rgba(0 , 0 , 0, 0.35);
}
.con-word{
    font-weight: bold;
}
.sec-words{
    font-size: 22px;
}
.btn-back{
    padding-top: 50px;
}
.btn-1{
    padding: 15px 30px;
    background-color: rgb(24, 24, 24);
    text-decoration: none;
    color: white;
    border-radius: 5px;
    transition: all 0.5;
    font-size: 18px;
}
.btn-1:hover{
    padding: 15px 30px;
    background-color: rgb(55, 50, 109);
    text-decoration: none;
    color: rgb(252, 251, 255);
    border-radius: 5px;
    transition: all 0.5;
    font-size: 18px;
}