*{
    direction: rtl;
}
body{
    font-family: 'Nunito', sans-serif ;
}
a{
    text-decoration: none;
}
.sec1{
    background-image: url(../img/hero-bg.png);
    background-position: center center;
    height: 100vh;
    background-size: cover;
    background-blend-mode: overlay;

}
.sec1 nav{
    padding: 15px 0 15px 0 !important;
    z-index: 9999;
}

.sticky {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: #178066;
    box-shadow: -3px 2px 8px 1px rgb(0 0 0 / 10%) !important;
}


.logo {
width: 100px;
float: left;
}

.logo-div {
    padding-right: 90px;
}
.nav-ul{
    padding-right: 450px;
    
}
.nav-item{
    padding-right: 20px;
}
.nav-link{
    color: white !important;
}
.nav-item a{
    font-size: 23;
}

.nav-item:hover a{
    color: #fff600 !important;
    

}

.sign-btn{
    outline-style: solid;
    color: #fff600;
    padding-left: 25px;
    padding-right: 25px;
    padding-top: 10px;
    padding-bottom: 10px;
    font-weight: bold;
    font-size: 15px;
    text-decoration: none;
    margin-left: 70px;
    box-shadow: -3px 2px 8px 1px rgb(0 0 0 / 13%);
}
.sign-btn:hover{
    outline-color: #fff95d;
    color: rgb(255, 255, 255);
}
.arabic-btn{
    border-style: solid;
    border: none;
    border-radius: 50px;
    padding: 10px;
    font-size: 21px;
    text-decoration: none;
    margin-right: 6px;
    color: rgb(255, 255, 255);
    font-family: 'Noto Naskh Arabic', serif;
    font-family: 'Nunito', sans-serif;
    cursor: pointer;
}
.arabic-btn:hover {
    color: #f9f348;

}

.content .detail-box h1 {
    font-size: 3.5rem;
    text-transform: uppercase;
    margin-bottom: 15px;
    color: #ffffff;
    font-family: 'Nunito', sans-serif;
    font-weight: bold;

}
.content .detail-box p {
    color: #fefefe;
    font-size: 20px;
    font-family: 'Nunito', sans-serif;
    margin: 0;
}

.detail-box .btn-box {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: 0 -5px;
    margin-top: 15px;

}

.detail-box .btn-box a {
    margin: 5px;
    text-align: center;
    width: 165px;
    text-decoration: none !important;
}

.detail-box .btn-box .btn1 {
    display: inline-block;
    padding: 10px 25px;
    background-color: #f0e9e9;
    /* background-color: #876f6f9c; */
    color: #178066;
    border-radius: 25px;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
    border: 1px solid #ffffff;
    box-shadow:-3px 2px 8px 1px rgb(0 0 0 / 28%) ;
    font-size: 20px;
}


#more{
    display: none;
}

.content{
    padding-top: 100px;
}

.sec3-part{
    padding: 70px;
background-color: #fff;
}
.icon1{
    border-radius: 50px;
    background-color: #62d2a2;
    padding: 12px;
    font-size: 30px;
    color: white;


}
.p-sec3{
    color: black;
}

.word-services h2{
    font-size:45px ;
    font-weight: 800;


}

.icon1:hover {
    background-color: black !important;
    color: #f4f4f4 !important;
}


.service-box {
    background-color: #fff;
    padding: 2.5rem 1.3rem;
    border-radius: 0.4rem;
    margin-bottom: 3rem;
    text-align: center;
    box-shadow: -3px 2px 8px 1px rgb(0 0 0 / 10%) !important;
    /* box-shadow: -3px 2px 8px 1px rgb(0 0 0 / 10%); */
    cursor: pointer;
}

.web-word{
    font-size: 18px;
    margin-bottom: 15px;
    font-weight: 800;
    color: black;
}
.icon-main{
    padding-bottom: 25px;
    padding-top: 15px;
}


.read-btn{
    background-color: #62d2a2;
    border: transparent;
}
.icon-1{
    color: #62d2a2;
}

/*  */

.word-about h2{
    font-size:45px ;
    font-weight: 800;

}
.sec-about{
    padding-top: 50px;
}

.about-line1{
    font-size: 45px;
}
.about-first-p p{
    font-size: 20px;
}


/* part test */
.word-services{
    padding-top: 40px;
    padding-bottom: 20px;
}
.word-services h2{
    font-size:45px ;
    font-weight: 800;


}

.icon1:hover {
    background-color: black !important;
    color: #f4f4f4 !important;
}

.icon-main{
    padding-bottom: 25px;
    padding-top: 15px;
}
.nav-sec4{
    color: black !important;
    font-weight: 700 !important;
    font-size: 20px;
    padding: 10px !important;
    padding-top: 40px !important;

}
.img1-sec4 img{
    width: 375px;
    box-shadow: 0 13px 8px -10px rgb(0 0 0 / 10%);
    
}


.imgs-sec4{
    padding-bottom: 30px;
}

.sec5{
    background: #178066;
    color: white;
    direction: ltr !important;
}
.cust-rev{
    padding-bottom: 50px;
}
.sec6{
    padding-top:100px ;
    box-shadow: 0 13px 8px -10px rgb(0 0 0 / 10%);
    padding-bottom: 70px;
}
.sec6-items p{
    font-weight: 700;
    margin-bottom: 30px;
    color: #748182;

}
.sec6-items h2{
    font-weight: 900;
    margin-bottom: 15px;

}
.sec6-items i{
    font-size: 30px;
    margin-bottom: 15px;
    

}

.slider-sec5{
    /* padding-top: 100px; */
    padding-bottom: 50px;
    padding-left: 170px;
    direction: ltr;
}
.font-p-test{
    font-size: 20px;
}
.item1-sec5{
    padding-bottom: 50px;

}
.work{
    overflow: hidden;
}
.work1{
    overflow: hidden;
    margin-bottom: 2rem;
}
.work1 img{
    width: 350px;
    width: 100%;
}

/* sec con */
.p-sec8{
    color: #748182;
}
.item7 {
    padding: 10px;
}
.content-us8{
    padding-bottom: 50px;
}
.form-group {
    margin-bottom: 15px;
}

#form_email , #form_name ,#form_message{
    width: 100%;
    border: 0;
    border-radius: 5px;
    padding: 10px;
    background: #f4f4f4;
}
.form-group {
    margin-bottom: 15px}

    .but-sec8{
        padding: 10px 40px;

    }

.sec8{
    padding-bottom: 50px;

    }

.sec-blog{
    background-color: #178066;
padding-bottom: 80px;
padding-top: 20px;

}

.word-blog{
    color: white;
    padding-bottom: 60px;
}
.img-last-blog{
    height: 283px;
}



.stretched-link{
    text-decoration: none;
    color:  #AFAEBC;
}
.card{
    box-shadow:0 0.5rem 1rem rgb(0 0 0 / 43%) !important;
}
.font-base{
    font-family: "Roboto",-apple-system,BlinkMacSystemFont,"Segoe UI","Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
    font-weight: bold;
}
.fs--1{
    color: black !important;
}



/* fo */

    .footer_section {
        background: #178066;
        color: #ffffff;
        padding: 60px 0 15px 0;
        position: relative;
    }
    
    .footer_section h4 {
        font-weight: 600;
        margin-bottom: 20px;
    }
    
    .footer_section .footer_col {
        margin-bottom: 30px;
    }
    
    .footer_section .footer_contact .contact_link_box {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
    }
    
    .footer_section .footer_contact .contact_link_box a {
        margin: 5px 0;
        color: #ffffff;
    }
    
    .footer_section .footer_contact .contact_link_box a i {
        margin-right: 5px;
    }
    
    .footer_section .footer_contact .contact_link_box a:hover {
        color: #62d2a2;
    }
    
    .footer_section .footer_social {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        margin-top: 20px;
        margin-bottom: 10px;
    }
    
    .footer_section .footer_social a {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        color: #ffffff;
        border-radius: 100%;
        margin-right: 10px;
        font-size: 24px;
    }
    
    .footer_section .footer_social a:hover {
        color: #62d2a2;
    }
    
    .footer_section .footer_links {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
    }
    
    .footer_section .footer_links a {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        margin-right: 15px;
        margin-bottom: 15px;
        color: #ffffff;
    }
    
    .footer_section .footer_links a:hover {
        color: #62d2a2;
    }
    
    .footer_section form input {
        border: none;
        background-color: #fefefe;
        width: 100%;
        height: 45px;
        color: #000000;
        outline: none;
        border-radius: 5px;
        padding: 0 15px;
    }
    
    .footer_section form input::-webkit-input-placeholder {
        color: #777;
    }
    
    .footer_section form input:-ms-input-placeholder {
        color: #777;
    }
    
    .footer_section form input::-ms-input-placeholder {
        color: #777;
    }
    
    .footer_section form input::placeholder {
        color: #777;
    }
    
    .footer_section form button {
        width: 100%;
        text-align: center;
        display: inline-block;
        padding: 10px 55px;
        background-color: #62d2a2;
        color: #ffffff;
        border-radius: 5px;
        -webkit-transition: all 0.3s;
        transition: all 0.3s;
        border: 1px solid #62d2a2;
        margin-top: 15px;
    }
    
    .footer_section form button:hover {
        background-color: transparent;
        color: #62d2a2;
    }
    
    .footer_section .footer-info {
        text-align: center;
    }
    
    .footer_section .footer-info p {
        color: #ffffff;
        padding: 25px 0;
        margin: 0;
    }
    
    .footer_section .footer-info p a {
        color: inherit;
    }